/* Your local CSS File */
/* aref-ruqaa-regular - arabic */
@font-face {
  font-family: 'Aref Ruqaa';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/aref-ruqaa-v7-arabic-regular.eot'); /* IE9 Compat Modes */
  src: local('Aref Ruqaa Regular'), local('ArefRuqaa-Regular'),
       url('../fonts/aref-ruqaa-v7-arabic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/aref-ruqaa-v7-arabic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/aref-ruqaa-v7-arabic-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/aref-ruqaa-v7-arabic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/aref-ruqaa-v7-arabic-regular.svg#ArefRuqaa') format('svg'); /* Legacy iOS */
}

body{
/* 	background-image : url(../image/12.png);
	background-repeat: no-repeat; */
	background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(8, 8, 64) 31%, rgba(0,212,255,1) 100%)
}


}

.form{
	padding:40px;
	padding-top:140px;
	padding-bottom:140px;
}

input{
	background-color: #06376c;
	text-align-last: right;
	direction:rtl;
}
.form-control{
	background-color: #06376c;
    color: white;
    font-size: 28px;
}

#sizing-addon1{
	padding-left:55px;
}

#sizing-addon3{
	padding-left:21px;
	
}

#sizing-addon4{
	padding-left: 55px;
}
.input-group{
	
	padding: 20px;
    padding-right: 280px;
    padding-left: 280;
}
.sec_mediam{
	height:auto;
    margin-bottom: 100px;
    margin-top: 40px;
}

input[type="submit"]{
    padding-right: 61px;
    font-size: 30px;
    height: 55px;
    text-align: center;
    width: 260px;
    margin-left: 163px;
}
input[type="submit"]:hover{
	background-color:#2974c5;
}
.submit_div{
	padding-right:380px;
	padding-left:380px;
	margin-top: 36px;
}

.contain_header{
	font-size: 100px;
    margin-top: 71px;
    text-align:center;
}

.sec_header,.sec_footer{
	/* height: 300px; */
    /* margin-bottom: 68x; */
    margin-top: 40px;
}

.sec_header{
	margin-top:0px;
	font-family:Aref Ruqaa;
	color:white;
	margin-bottom: 85px;

}

.sec_footer{
	margin-top: 150px;
	margin-top: 86px;
	font-family:Aref Ruqaa;
	color:white;
	height:185px;
	position: relative;
 
}

.contain_footer{
	font-size: 100px;
    text-align:center;
	border-top: #8e9090 10px dashed;
	border-bottom: #8e9090 10px dashed;
	position:absolute;
    padding-bottom: 15px;
	left:20%;
}




